@charset "utf-8";
/* CSS Document */


.abc {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 9pt;
}
.color {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 9pt;
	background-color: #060;
}
